tensorflow == 2.12.0
numpy 
pandas
dvc  #use to track pipeline so data computational power is not wasted
mlflow==2.2.2 #model registry and experiment tracking with analysis

notebook 
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure == 1.0.2
joblib
types-PyYAML
scipy
flask
flask-cors
gdown
-e . 